# Week 3 Assignment

# Indexing

In [1]:
employee_data = []
type(employee_data)

list

In [3]:
employee_data.append("Ali")
employee_data.append(125000)
employee_data.append("Google")
employee_data.append(5)

In [4]:
employee_data

['Ali', 125000, 'Google', 5]

In [5]:
employee_data[0]

'Ali'

In [6]:
employee_data[1]

125000

In [7]:
employee_data[2]

'Google'

In [8]:
employee_data[3]

5

In [9]:
Message_1 = [ "Ali is working in Google for 5 years and his salary is 125000"]
Message_1

['Ali is working in Google for 5 years and his salary is 125000']

In [10]:
student_Data = ["Ahmed", "Bilal", "Government College University", "Computer Science", "BS", 50000,"28 Januray 2020", "05 February 2020"]
student_Data

['Ahmed',
 'Bilal',
 'Government College University',
 'Computer Science',
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020']

In [11]:
student_Data[2]

'Government College University'

In [12]:
student_Data[0]

'Ahmed'

In [13]:
student_Data[1]

'Bilal'

In [14]:
student_Data[3]

'Computer Science'

In [15]:
student_Data[4]

'BS'

In [16]:
student_Data[5]

50000

In [17]:
student_Data[6]

'28 Januray 2020'

In [18]:
student_Data[7]

'05 February 2020'

In [19]:
student_Data[-4]

'BS'

In [22]:
Message_2 = ["Hello Ahmed Bilal,
             Your application accepted for admission in BS Computer Science in Government College University.
You have to submit fee 5000 before 28 January 2020 Your classes will start from 05 February 2020 Thanks"]
       Message_2

SyntaxError: EOL while scanning string literal (<ipython-input-22-2bb3dd46f35b>, line 1)

# Slicing

In [23]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
cities

['Faisalabad',
 'Lahore',
 'Islamabad',
 'Peshawar',
 'Quetta',
 'Sahiwal',
 'Rawalpindi',
 'Sialkot']

# Positive Slicing

In [24]:
cities[:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [25]:
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [26]:
cities[5:]

['Sahiwal', 'Rawalpindi', 'Sialkot']

# Negative Slicing

In [27]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [28]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Update Lists

In [29]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
studentData

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

# Append Method

In [30]:
studentData.append("20 feburary 2019")

In [31]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 feburary 2019']

In [32]:
studentData.append(8)

In [33]:
studentData

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 feburary 2019',
 8]

# Insert Method

In [34]:
studentData.insert(4,25000)

In [35]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 feburary 2019', 8]

In [36]:
studentData.insert(1,"M.Iqbal")

In [37]:
studentData

['Ali Raza',
 'M.Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 feburary 2019',
 8]

# Remove Method

In [38]:
studentData.remove("Computer Science")

In [39]:
studentData

['Ali Raza',
 'M.Iqbal',
 22,
 91.24,
 25000,
 5,
 'University of Agriculture',
 '20 feburary 2019',
 8]

In [40]:
studentData.remove(91.24)

In [41]:
studentData

['Ali Raza',
 'M.Iqbal',
 22,
 25000,
 5,
 'University of Agriculture',
 '20 feburary 2019',
 8]

# Pop method

In [42]:
studentData.pop(7)

8

In [44]:
studentData.pop(3)

25000

In [45]:
studentData

['Ali Raza', 'M.Iqbal', 22, 5, 'University of Agriculture', '20 feburary 2019']

# 4. Multidimensional list tasks

In [2]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [3]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

# For Loop

In [4]:
tot_salary = 0
for i in employeeData:
    tot_salary += item[-1]

NameError: name 'item' is not defined

In [5]:
tot_salary

0